@using PagedList.Mvc;
@model PagedList.IPagedList<Project.Service.ViewModels.VehicleMakeViewModel>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Vehicle Make";
}

<h2>Tablica za kreiranje vozila (VehicleMake)</h2>

<p>
    @Html.ActionLink("Dodaj novo vozilo", "Create")
</p>
@using (Html.BeginForm("Index", "VehicleMake", FormMethod.Get))
{
    <p>
        Trazilica: @Html.TextBox("Condition_search", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { Condition_sort = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Abrv", "Index", new { Condition_sort = ViewBag.AbrvSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abrv)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id = item.VMakeID }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.VMakeID }) |
                @Html.ActionLink("Izbrisi", "Delete", new { id = item.VMakeID })
            </td>
        </tr>
    }

</table>
<br />
Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter, Condition_sort = Request["Condition_sort"] }))
